@keyframes rainbow {
    0%   {background-color: red; color: orange; font-size: 100px; text-align: center;}
    15%{background-color: orange; color: yellow; font-size: 115px; text-align: left;}
    30%  {background-color: yellow; color: green; font-size: 130px; text-align: center;}
    45%{background-color: green; color: blue; font-size: 115px; text-align: right;}
    60%  {background-color: blue; color: aqua; font-size: 100px; text-align: center;}
    75%{background-color: aqua;  color: purple; font-size: 115px; text-align: left;}
    90%{background-color: purple; color: red; font-size: 130px; text-align: center;}
    100%{background-color: red; color: white; font-size: 115px; text-align: right;}
}

h1 {
    background-color: aqua;
    color: #5E5694;
    font-size: 36px;
    text-align: center;
    position: center;
    font-style: italic;
    font-family: "Segoe UI";
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.hbar1 {
    display: inline;
    margin: 15px;
}